# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Debug / Release
Debug/
Release/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Database
*.mdf
*.ldf

# IIS Express
/.vs/
/IISExpress/

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg

# Publish
publish/

# Others
*.cache
*.pdb
*.dll
*.exe