################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MusskProje/v15/Server/sqlite3
/BiskaUtil/obj/Debug/BiskaUtil.csproj.CopyComplete
/BiskaUtil/obj/Debug/BiskaUtil.csproj.CopyComplete
/.vs/MusskProje/FileContentIndex
