@using WebApp.Models
@model Exception
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-container">
    <div class="error-code">Hata! <div class="icon-preview"><i class="fa fa-frown-o"></i></div></div>
    <div class="error-text">İşlem Yapılırken Bir Hata Oluştu.</div>
    <div class="error-subtext">
        Hata: @Model.ToExceptionMessage()
    </div>
    <div class="error-subtext">Bu hata sistem tarafından loglandı.</div>
    @*<div class="error-code">500</div>
        <div class="error-text">Internal server error</div>
        <div class="error-subtext">The server encountered an internal error or misconfiguration and was unable to complete your request.</div>*@
</div> 
