@using Database
@model Yevmiyeler
@{
    Layout = null;
}
<div class="widget widget-default" id="yevmiyeDetayPanel_@Model.YevmiyeID" style="border-top:1px solid; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
    <table style="width:100%;">
        <tbody>
            <tr>
                <td style="font-weight:bold;font-size:11pt;"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i> Yevmiye İşlemleri Detayı</td>
                <td width="40" style="font-weight:bold;">
                    <ul class="panel-controls">
                        <li><a href="javascript:void(0);" onclick="GetDetail(@Model.YevmiyeID)" title="Yenile" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> 1003B SSK</td>
                                    <td style="border-bottom:1px solid; border-bottom-color:lightgray;">
                                        <a class="btn btn-info btn-sm" onclick="YevmiyeAyristir(@Model.YevmiyeID,null)"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Ayrıştırma Kaydı Oluştur</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (Model.Yevmiyeler1003BAyristirmalari.Any())
                                        {
                                           <table>
                                               <tr>
                                                   <td>Üniversite İş Yeri Adı</td>
                                                   <td>Yıl</td>
                                                   <td>Ay</td>
                                                   <td>Belge Kodu</td>
                                                   <td>Gelir Vergisi</td>
                                                   <td>Damga Vergisi</td>
                                               </tr>
                                           </table>
                                        }
                                        else
                                        {
                                            <div style="margin:50px auto;color:maroon;">Yevmiye Ayrıştırması Yapılmadı</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> 1003A VERGİ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> KDV VERGİ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> EMEKLİ KESENEK</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> TAŞINIR KONTROL</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> BANKA İŞLEMLERİ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;max-width:1200px;">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold;font-size:11pt; border-bottom:1px solid; border-bottom-color:lightgray;"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> SENDİKA İŞLEMLERİ</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td class="CaptionTd" width="140">Salon Adı</td>
                                                    <td class="CaptionTd" width="10">:</td>
                                                    <td class="ValueTd">
                                                        MİMARLIK FAKÜLTESİ D BLOK 407 BOAT LABORATUVARI
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>





